@import "tailwindcss";

@layer base {
  html, body, #root { 
    height: 100%; 
  }
  body {
    background-image: linear-gradient(to bottom, rgb(249, 250, 251), rgb(243, 244, 246));
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  }
}

@layer components {
  .card { 
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
    padding: 1rem;
  }
}